@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #667272;
  font-size: 1.6rem;
  line-height: 1.6;
}

.center {
  text-align: center;
}

.center img {
  max-width: 100%;
  height: auto;
}

.email-link {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.email-link a {
  color: #aaaaaa;
  font-size: 0.8rem;
}
